{% extends "base.html" %}
{% block content %}

<div class="card" style="max-width:900px; margin:auto;">
  <img src="{{ product.image.url }}" style="width:100%; border-radius:12px;">
  <h1>{{ product.name }}</h1>
  <p>{{ product.description }}</p>
  <h3>₹{{ product.price }}</h3>
</div>

{% endblock %}
{% extends "base.html" %}
{% block content %}

<div class="card" style="max-width:900px; margin:auto;">
  <img src="{{ product.image.url }}" style="width:100%; border-radius:12px;">
  <h1>{{ product.name }}</h1>
  <p>{{ product.description }}</p>
  <h3>₹{{ product.price }}</h3>
</div>

{% endblock %}
